<div id="<%= dom_id pizza %>">
  <p>
    <strong>Name:</strong>
    <%= pizza.name %>
   </p>
    
    <p>
    <strong>Description:</strong>
    <%= pizza.description %>
  </p>
  <p><strong>Toppings:</strong>
    <% if pizza.toppings != nil %>
      <% toppings_array = pizza.toppings %>
      <ul>
      <% toppings_array.each do |topping| %>
        <% if Topping.find_by(name:topping) == nil %>
          <div style="color: red">
            <li><%= topping + "   **Out of that topping**" %></li>
          </div>
        <% else %>
            <li><%= topping %></li>
        <% end %>
      <% end %>
    <% else %>
      <%= "No Toppings" %>
    <% end %>
    </ul>
  </p>
</div>
